<div class="container">

    <div class="jumbotron">
        <h1>Users Database</h1>
        <p>All users contact info</p>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in vm.users">
                <td>{{ user.Name }}</td>
                <td>{{ user.Surname }}</td>
                <td>{{ user.Email }}</td>
                <td>{{ user.PhoneNumber }}</td>
                <td>{{ user.Address }}</td>
            </tr>
        </tbody>
    </table>

</div>