
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-faded">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav">
                <li ng-if="vm.signedInUserEmail!==''" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        john@doe.com
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Account</a>
                        <a class="dropdown-item" href="" ng-click="vm.signOut()">Sign Out</a>
                    </div>
                </li>
                <li ng-if="vm.signedInUserEmail===''" class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#logInModal">Sign In</a>
                </li>
            </ul>
        </div>
    </nav>
</div>


<div class="container">
    <div class="jumbotron">
        <h1>Users Database</h1>
        <p>All users contact info</p>
    </div>
</div>

<div data-ui-view></div>


<!-- Log in Modal -->
<div class="modal fade" id="logInModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Welcome</h4>
                <button type="button" class="close" ng-click="vm.clearMessages()" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <p class="text-danger">{{ vm.errorMessage }}</p>
                <p class="text-succes">{{ vm.successMessage }}</p>
                <form>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" ng-model="vm.user.email">
                    </div>
                    <div class="form-group" ng-init="signinUp=false" ng-show="signinUp">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" ng-model="vm.user.name">
                    </div>
                    <div class="form-group" ng-show="signinUp">
                        <label for="surname">Surname:</label>
                        <input type="text" class="form-control" id="surname" placeholder="Enter surname" name="surname" ng-model="vm.user.surname">
                    </div>
                    <div class="form-group" ng-show="signinUp">
                        <label for="phone">Phone number:</label>
                        <input type="tel" class="form-control" id="phone" placeholder="Enter phone number" name="phone" ng-model="vm.user.phoneNumber">
                    </div>
                    <div class="form-group" ng-show="signinUp">
                        <label for="address">Address:</label>
                        <input type="text" class="form-control" id="address" placeholder="Enter address" name="address" ng-model="vm.user.address">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" ng-model="vm.user.password">
                    </div>
                    <div class="form-group" ng-show="signinUp">
                        <label for="repeatPwd">Repeat password:</label>
                        <input type="password" class="form-control" id="repeatPwd" placeholder="Repeat password" name="rPswd" ng-model="vm.user.repeatPassword">
                        <p ng-if="vm.user.password!==vm.user.repeatPassword" class="text-danger">Repeat password correctly</p>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" ng-show="!signinUp" ng-click="signinUp=true">Don't have account?</button>
                <button type="button" class="btn btn-link" ng-show="signinUp" ng-click="signinUp=false">I already have account</button>
                <button type="submit" class="btn btn-primary" ng-show="signinUp" ng-click="vm.signUp()">Sign Up</button>
                <button type="submit" class="btn btn-primary" ng-show="!signinUp" ng-click="vm.signIn()">Sign In</button>
                <button type="button" class="btn btn-danger" ng-click="vm.clearMessages()" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>